<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Declare the main activity -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Akrilki06">

        <!-- Main activity declaration -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Akrilki06"
            android:icon="@drawable/ic_launcher_6"
            android:roundIcon="@drawable/ic_launcher_round_6"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity for showing detailed news -->
        <activity
            android:name=".NewsDetailActivity"
            android:label="@string/news_detail_activity_label"
            android:theme="@style/Theme.Akrilki06" />

    </application>

</manifest>
